<div class="new">
    <a routerLink="/admin/products/new" class="btn btn-success btn-block">Add New Product</a>
</div>
<div class="search">
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.data.title}}</td>
            <td>{{p.data.price | currency:'NAD'}}</td>
            <td>
                <a [routerLink]="['/admin/products/',p.key]" style="color: #28a745;">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
