

  <ngb-carousel class="container carousel-inner no-padding">
    <ng-template ngbSlide class="carousel-item active">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/the-veggie-garden-starter-comboseed-collections_10116_500x500.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/Full-Share-1.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/Selection-of-fresh-fruit-and-vegetables.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/vegetables-fruit-mixed-heart-600x463.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/7517922.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/2018-Tomato-Fresh-keeping-Vegetables-packaging-carton.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/vegetable-packing-box-500x500.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/vegetable-packaging-box-250x250.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/Cauliflower.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/red_tomato_net_weight_10_gm_.jpg">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/capsicum_orange_per_kg_.png">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="../../../assets/img/Cabbage_White_.jpg">
      </div>
    </ng-template>
  </ngb-carousel>




