
<footer class="page-footer font-small special-color-dark pt-4">

  <div class="container">

      <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" >
              <fa-icon [icon]="['fas', 'facebook']"></fa-icon>

            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="tw" class="mx-1" >
              <fa-icon [icon]="['fas', 'twitter']"></fa-icon>

            </a>
          </li>

          <li class="list-inline-item">
            <a  href="" target="_blank" mdbBtn floating="true" color="ig" class="mx-1" >
              <fa-icon [icon]="['fas', 'instagram-square']"></fa-icon>
            </a>
          </li>
        </ul>

  </div>



  <div class="footer-copyright text-center py-3">Fresh Veggies Namibia © 2020 Copyright: All rights reserved
    <a href="https://tinashechifamba.com"> TC ❤ </a>
  </div>


</footer>


